/* add an id to the top level h1 header called first-header */
/* with color #996600 and font Comic Sans MS */
#first-header{
  color: #996600;
  font-family: Comic Sans MS;
}

/* add a class to both h2 headers called second-header */
/* with a background color of #e6ccb3 */
.second-header{
  background-color: #e6ccb3;
}

/* only make the second h2 header have brown text*/
#dog-header{
  color: #734b26;
}
/* make sure both h1 and h2 headers have padding of 10px */
h1, h2{
  padding: 10px;
}

/* center the image by referring it through the img tag */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease-out;
}

/* change the color of the a tag when you hover over it */
a:hover{
  color:#b38600;
}

/* change the size of the image when you hover over it */
img:hover{
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transition: 1s ease-out;
}


/*add a transition to the image and the image when it is hovered so that the change in size happens for 1s and 'ease-out'
hint: modify img and img:hover to have a `transition` property
*/
